* {
  padding: 0;
  margin: 0;
  font-family: 'Avenir',
    Helvetica,
    Arial,
    sans-serif;
}

/* 隐藏滚动条 */
*::-webkit-scrollbar {
  display: none;
}

.app {
  color: #545454;
  overflow: auto;
}

.main {
  padding-top: 3rem;
}